@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-primary: #964900;
  --color-on-primary: #ffffff;
  --color-secondary: #86522d;
  --color-surface: #fbf9f8;
  --color-background: #fbf9f8;
  --color-on-surface: #1b1c1c;
  --color-outline: #8a7264;
  --color-outline-variant: #ddc1b0;
  --color-surface-container-high: #eae8e7;
  --color-surface-container-highest: #e4e2e1;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container-lowest: #ffffff;
  --color-primary-container: #f58220;
  --color-on-primary-container: #5b2a00;
  --color-tertiary: #006491;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #00abf3;
  --color-on-tertiary-container: #003c58;
  --color-on-surface-variant: #564336;
}

@layer base {
  body {
    @apply font-body bg-surface text-on-surface;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

/* Dark Mode Colors */
.dark {
  --color-surface: #1a1a1a;
  --color-background: #1a1a1a;
  --color-on-surface: #f0f0f0;
  --color-outline: #6a5f54;
  --color-outline-variant: #453a32;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #333333;
  --color-surface-container-low: #0f0f0f;
  --color-surface-container-lowest: #050505;
  --color-on-surface-variant: #d9ccbf;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ddc1b0;
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6a5f54;
}
